<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" 
              type="image/png" 
              href="/images/icon.png">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("#outline-container-sec-1").fadeToggle();
    $("#outline-container-sec-2").fadeToggle("slow");
    $("#outline-container-sec-3").fadeToggle(3000);
  });
});


$(function() {$('div#table-of-contents').hover(
        
    function() {
        
        $('ul').addClass('green');
        
    }, function() {
        
        $('ul').removeClass('green')

    });});




$(function() {$('div#table-of-contents').hover(
        
    function() {
        
        $('#table-of-contents ul').addClass('green');
        
    }, function() {
        
        $('#table-of-contents ul').removeClass('green')

    });});

            

            
   


</script>
<script type="text/javascript">
/*
@licstart  The following is the entire license notice for the
JavaScript code in this tag.

Copyright (C) 2012  Free Software Foundation, Inc.

The JavaScript code in this tag is free software: you can
redistribute it and/or modify it under the terms of the GNU
General Public License (GNU GPL) as published by the Free Software
Foundation, either version 3 of the License, or (at your option)
any later version.  The code is distributed WITHOUT ANY WARRANTY;
without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

As additional permission under GNU GPL version 3 section 7, you
may distribute non-source (e.g., minimized or compacted) forms of
that code without the copy of the GNU GPL normally required by
section 4, provided you include this license notice and a URL
through which recipients can access the Corresponding Source.


@licend  The above is the entire license notice
for the JavaScript code in this tag.
*/
<!--/*--><![CDATA[/*><!--*/
 function CodeHighlightOn(elem, id)
 {
   var target = document.getElementById(id);
   if(null != target) {
     elem.cacheClassElem = elem.className;
     elem.cacheClassTarget = target.className;
     target.className = "code-highlighted";
     elem.className   = "code-highlighted";
   }
 }
 function CodeHighlightOff(elem, id)
 {
   var target = document.getElementById(id);
   if(elem.cacheClassElem)
     elem.className = elem.cacheClassElem;
   if(elem.cacheClassTarget)
     target.className = elem.cacheClassTarget;
 }

/*]]>*///-->

</script>

<script type="text/javascript" src="http://orgmode.org/mathjax/MathJax.js"></script>
<script type="text/javascript">
<!--/*--><![CDATA[/*><!--*/
    MathJax.Hub.Config({
        // Only one of the two following lines, depending on user settings
        // First allows browser-native MathML display, second forces HTML/CSS
        //  config: ["MMLorHTML.js"], jax: ["input/TeX"],
            jax: ["input/TeX", "output/HTML-CSS"],
        extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js",
                     "TeX/noUndefined.js"],
        tex2jax: {
            inlineMath: [ ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"], ["\\begin{displaymath}","\\end{displaymath}"] ],
            skipTags: ["script","noscript","style","textarea","pre","code"],
            ignoreClass: "tex2jax_ignore",
            processEscapes: false,
            processEnvironments: true,
            preview: "TeX"
        },
        showProcessingMessages: true,
        displayAlign: "center",
        displayIndent: "2em",

        "HTML-CSS": {
             scale: 100,
             availableFonts: ["STIX","TeX"],
             preferredFont: "TeX",
             webFont: "TeX",
             imageFont: "TeX",
             showMathMenu: true,
        },
        MMLorHTML: {
             prefer: {
                 MSIE:    "MML",
                 Firefox: "MML",
                 Opera:   "HTML",
                 other:   "HTML"
             }
        }
    });
/*]]>*///-->
</script>

<script type="text/javascript" src="/js/org-keys.js"></script>
<script type="text/javascript">
  <!--/*--><![CDATA[/*><!--*/
   OrgKeyReader.registerHref('h', 'index.html');
   OrgKeyReader.registerHref('t', 'index.html');
  /*]]>*/-->
</script>


    </head>
    <body onload="OrgKeyReader.init();">


    <div id="navbar" class="anb-home">

        <div id="navbarlogo"><h1><a href="/" title="">Florian Knupfer</a></h1></div>
        <div id="navbarmenu">
            <ul id="navbarlist">
              <li id="anb-home"><a href="/totalindex.html" title="">Index</a></li>
                <li id="anb-packages"><a href="/wissenschaft.html" title="">Wissenschaft</a></li>
                <li id="anb-forums"><a href="/musik.html" title="">Musik</a></li>
                <li id="anb-wiki"><a href="/computer.html" title="">Computer</a></li>
                <li id="anb-bugs"><a href="/about.html" title="">About</a></li>     
            </ul>
        </div>
    </div>

     <div id="navbar2">
     </div>


        <div class="site">
 

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Florian Knupfer<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/knupfer">github.com/knupfer</a><br />
              </p>
            </div>
          </div>
        </div>

<div id="navbar4">
     </div>

   <div id="navbar3">
     </div>



    </body>

</html>
